<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.websMapper" >
    <select id="select2" resultType="com.example.demo.entity.webs">
    select * from webs where mainid=#{id}
</select>

    <select id="select4" resultType="com.example.demo.entity.webs">
    select * from webs where urlid=#{urlid}
</select>



</mapper>