<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <meta name="applicable-device" content="pc">
    <meta property="og:type" content="movie"/>
    <meta property="og:url" th:attr="content='http://www.aoklite.com/info/'+${main.id}+'.html'"/>
    <meta property="og:title" th:attr="content=${main.name}+'_在线播放观看免费电影,高清全集影片'"/>
    <meta property="og:description" th:attr="content=${main.juqing}+'【神马影院】每天为您提供好看的免费电影,手机电影,电视剧,动漫,综艺娱乐,在线观看,每天不定时更新,最新最全的电影尽在神马影院。'"/>
    <meta property="og:image"  th:attr="content=${main.img}"/>
    <meta property="og:release_date" th:attr="content=${main.data}"/>

    <title th:text="${main.name}+'_在线播放观看,高清全集影片'"> </title>
    <meta name="keywords" th:attr="content=${main.name}+'神马影院，神马免费电影网,韩国电影,美国大片,爱情电影,快播电影,午夜电影院,免费电影播放器,免费视频,最新电影,好看的电影,好看的电视剧,私人影院,在线播放,vip电影,vip电视'"/>
    <meta name="description" th:attr="content=${main.yanyuan}+${main.juqing} "/>
    <link href="/css/base.css" type="text/css" rel="stylesheet"/>
    <link rel="shortcut icon" href="/images/shenma.ico">
    <meta name="baidu-site-verification" content="code-3SwZDoczTf" />
    <script src="https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/jquery/jquery-1.10.2.min_65682a2.js"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?d94c9e1e137c46d8da3746f8fea539b6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div id="header">
    <div id="headbar">
        <div class="layout fn-clear">
            <div id="logo">
                <a href="/">
                    <img src="/images/logo2.png" style="height: 50px;" alt="神马影院" title="神马影院">
                </a>
            </div>
            <!-- // logo end -->

            <!-- // searchbar end -->

            <div id="hotkeys">
                <label>热门推荐：</label><a href="/" target="_blank">影院热映 </a>
            </div>
            <!-- // hotkeys end -->
        </div>
    </div>
    <!-- // headbar end -->

    <div id="navbar">
        <div class="layout fn-clear add1">
            <ul id="nav">
                <li rel="home-nav" class="nav-item current"><a href="/">首页</a></li>
                <li rel="tv-nav" class="nav-item  "><a href="/list/dsj.html">电视剧</a></li>
                <li rel="movie-nav" class="nav-item  "><a href="/list/dy.html">电影</a></li>

                <li rel="cartoon-nav" class="nav-item "><a href="/list/dh.html ">动画</a></li>

                <li rel="fun-nav" class="nav-item "><a href="/list/zy.html ">综艺</a></li>

                <li rel="tydy-nav" class="nav-item "><a href="/list/hj.html ">韩剧</a></li>

                <form class="form-inline" action="/search" method="post"  target="_blank" >
                    <input type="text" class="form-control" name="str" placeholder="再此输入你想看的影片">
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </ul>
            <!-- // nav end -->

            <div id="looked-record">
                <h5>我的观看记录</h5>
                <div class="looked-box">
                    <ul class="highlight" id="playhistory">
                    </ul>
                </div>
            </div>
            <!-- // looked-record end -->
        </div>
    </div>
    <!-- // navbar end -->

    <div id="sub-nav">
        <div class="layout fn-clear">
            <div id="home-nav" class="sub-nav-item">
                <p class="sub-nav-tv fn-left">
                    <label>电视剧：</label>

                    <a href="/list/dsj-guochan.html" target="_blank">国产</a> <em>|</em>

                    <a href="/list/dsj-xianggang.html" target="_blank">香港</a> <em>|</em>

                    <a href="/list/dsj-taiwai.html" target="_blank">台湾</a> <em>|</em>

                    <a href="/list/dsj-riben.html" target="_blank">日本</a> <em>|</em>

                    <a href="/list/dsj-hanguo.html" target="_blank">韩国</a> <em>|</em>

                    <a href="/list/dsj-oumei.html" target="_blank">欧美</a> <em>|</em>

                </p>
                <p class="sub-nav-movie fn-right">
                    <label>电影：</label>


                    <a href="/list/zy-lunli.html" target="_blank">伦.理</a><em>|</em>
                    <a href="/list/zy-xiezhen.html" target="_blank">写.真</a><em>|</em>
                    <a href="/list/dy-zainan.html" target="_blank">灾难</a><em>|</em>
                    <a href="/list/dy-dongzuo.html" target="_blank">动作</a><em>|</em>
                    <a href="/list/dy-xiju.html" target="_blank">喜剧</a><em>|</em>
                    <a href="/list/dy-aiqing.html" target="_blank">爱情</a><em>|</em>
                    <a href="/list/dy-kehuan.html" target="_blank">科幻</a><em>|</em>
                    <a href="/list/dy-kongbu.html" target="_blank">恐怖</a><em>|</em>
                    <a href="/list/dy-zhanzheng.html" target="_blank">战争</a><em>|</em>
                    <a href="/list/dy-xuanyi.html" target="_blank">悬疑</a><em>|</em>
                    <a href="/list/dy-xuanyi.html" target="_blank">罪案</a><em>|</em>
                    <a href="/list/dy-jilu.html" target="_blank">纪录</a><em>|</em>
                </p>
            </div>
            <!-- // sub-nav-item end -->

            <div id="tv-nav" style="display: none;" class="sub-nav-item">
                <p>
                    <label>电视剧：</label>

                    <a href="/list/dsj-guochan.html" target="_blank">国产电视剧</a><em>|</em>
                    <a href="/list/dsj-xianggang.html" target="_blank">香港电视剧</a><em>|</em>
                    <a href="/list/dsj-taiwan.html" target="_blank">台湾电视剧</a><em>|</em>
                    <a href="/list/dsj-riben.html" target="_blank">日本电视剧</a><em>|</em>
                    <a href="/list/dsj-hanguo.html" target="_blank">韩国电视剧</a><em>|</em>
                    <a href="/list/dsj-oumei.html" target="_blank">欧美电视剧</a><em>|</em>
                </p>
            </div>
            <!-- // sub-nav-item end -->

            <div id="movie-nav" style="display: none;" class="sub-nav-item">
                <p>
                    <label>电影：</label>

                    <a href="/list/dy-zainan.html" target="_blank">灾难片</a><em>|</em>
                    <a href="/list/dy-dongzuo.html" target="_blank">动作片</a><em>|</em>
                    <a href="/list/dy-xiju.html" target="_blank">喜剧片</a><em>|</em>
                    <a href="/list/dy-aiqing.html" target="_blank">爱情片</a><em>|</em>
                    <a href="/list/dy-kehuan.html" target="_blank">科幻片</a><em>|</em>
                    <a href="/list/dy-kongbu.html" target="_blank">恐怖片</a><em>|</em>
                    <a href="/list/dy-zhanzheng.html" target="_blank">战争片</a><em>|</em>
                    <a href="/list/dy-jingsong.html" target="_blank">惊悚片</a><em>|</em>
                    <a href="/list/dy-zuian.html" target="_blank">罪案片</a><em>|</em>
                    <a href="/list/dy-xuanyi.html" target="_blank">悬疑片</a><em>|</em>
                    <a href="/list/dy-juqing.html" target="_blank">剧情片</a><em>|</em>
                    <a href="/list/dy-jilu.html" target="_blank">纪录片</a><em>|</em>
                </p>
            </div>
            <!-- // sub-nav-item end -->

            <div id="cartoon-nav" style="display: none;" class="sub-nav-item">
                <p>
                    <label>经典动漫：</label>

                    <a href="/list/dh.html" target="_blank">动画</a><em>|</em>
                </p>
            </div>
            <!-- // sub-nav-item end -->

            <div id="fun-nav" style="display: none;" class="sub-nav-item">
                <p>
                    <label>综艺娱乐：</label>

                    <a href="/list/zy-xiezhen.html" target="_blank">写.真</a><em>|</em>
                    <a href="/list/zy-lunli.html" target="_blank">伦.理</a><em>|</em>
                </p>
            </div>
            <!-- // sub-nav-item end -->

            <div id="weidy-nav" style="display: none;" class="sub-nav-item">
                <p>
                    <label>韩剧：</label>

                    <a href="/list/hj.html" target="_blank">韩剧</a><em>|</em>
                </p>
            </div>
            <!-- // sub-nav-item end -->

            <div id="tydy-nav" style="display: none;" class="sub-nav-item">
                <p>
            </div>
            <!-- // sub-nav-item end -->
        </div>
    </div>
    <!-- // sub-nav end -->
</div>


<div id="content">
    <div class="wrap mb8 mt5">
        <div class="bread">
            <!--            <div class="fr breadr">-->
            <!--                <a class="feedback" href='/guochanju/juedifanji/'>与"<em th:text="${main.name}"></em>"类似相关的影片：</a> <a href='/guochanju/zuihouyigedongtian/' title="最后一个冬天" target="_blank">最后一个冬天</a> <a href='/guochanju/diduwangluoju/' title="帝都(网络剧)" target="_blank">帝都(网络剧)</a> <a href='/guochanju/huying/' title="狐影（电视剧）" target="_blank">狐影（电视剧）</a> <a href='/guochanju/chuizhidaji/' title="垂直打击（电视剧）" target="_blank">垂直打击（电..</a>-->
            <!--            </div>-->
            <div class="position">当前位置：<a href='/'>神马影院</a> >  <a href='#' th:text="${main.name}">绝地反击</a></div>
        </div>

    </div>
    <div  class="gonggao">
        <p><b><font color=red>网站公告</font></b>：欢迎光临神马影院，本站所有电影完全免费，尝试按Ctrl+D收藏我们！ 如果您还有任何疑问，请您给本站
            <a href="/book.html" target="_blank"><font color=#669900>留言</font></a>，我们将尽快给您答复！</font></a></p>
        <p  id="book"><a href="/api.html" target="_blank">如果没有找到你的影片,或者觉得本站的视频不清晰，请点击这里观看原蓝光视频</a></p>
    </div>

    <div id="play" class="layout fn-clear">
    <div class="ui-box fn-clear" id="detail-focus">
        <div class="detail-pic fn-left">
            <img width="190" height="250" th:attr="alt=${main.name}" th:src="${main.img}">
        </div>
        <div class="detail-info">
            <h1 th:text="${main.name}"> 绝地反击 </h1>
            <dl>
                <dt>主演：</dt>
                <dd th:text="${main.yanyuan}"></dd>
            </dl>
            <dl class="short">
                <dt>状态：</dt>
                <dd th:text="${main.beizhu}">第10集</dd>
                <dt>年份：</dt>
                <dd th:text="${main.shangyingtime}">2020年</dd>
            </dl>
            <dl class="short">
                <dt>类型：</dt>
                <dd><a href="/guochanju/" th:text="${main.movietype}">国产电视剧</a></dd>
                <dt>导演：</dt>
                <dd th:text="${main.daoyan}"></dd>
            </dl>
            <dl class="short">
                <dt>语言：</dt>
                <dd th:text="${main.language}"></dd>

                <dt>地区：</dt>
                <dd th:text="${main.place}">大陆</dd>
            </dl>
            <dl class="short">

            </dl>


        </div>

        <div class="fn-right">

        </div>
    </div>
    <!-- // detail-focus end -->


    <div class="ui-box ui-box-big play-list-box" id="baiduhd-pl-list">
        <div class="ui-title fn-clear">
            <h3><strong>在线观看播放线路一：</strong></h3>
            <h3></h3>
            <span>   无需安装任何插件，即可快速播放   </span>
        </div>
        <div class="ui-cnt">
            <p class="play-list">
                <!--                <a title='第10集' href='/guochanju/juedifanji/kan8-0-9.html' target="_blank">第10集</a>-->
                <a th:each="u:${urldizhi1}" th:attr="title=${u.urlBeizhu}" th:href="'/play/'+${u.id}+'.html'"
                   target="_blank"
                   th:text="${u.urlBeizhu}=='null'?'暂时不能播放':${u.urlBeizhu}">第10集</a>
                <!--            具体集数-->
            </p>
        </div>
    </div>
<!--        播放线路二-->
        <div class="ui-box ui-box-big play-list-box"  th:if="${not #lists.isEmpty(urldizhi2)}">
            <div class="ui-title fn-clear">
                <h3><strong>在线观看播放线路二：</strong></h3>
                <h3></h3>
                <span>   无需安装任何插件，即可快速播放   </span>
            </div>
            <div class="ui-cnt">
                <p class="play-list">
                    <!--                <a title='第10集' href='/guochanju/juedifanji/kan8-0-9.html' target="_blank">第10集</a>-->
                    <a th:each="u:${urldizhi2}" th:attr="title=${u.urlBeizhu}" th:href="'/play/'+${u.id}+'.html'"
                       target="_blank"
                       th:text="${u.urlBeizhu}=='null'?'暂时不能播放':${u.urlBeizhu}">第10集</a>
                    <!--            具体集数-->
                </p>
            </div>
        </div>
    <div class="ui-box ui-box-big play-list-box">
        <div class="ui-title fn-clear"><h3><strong>下载线路一</strong></h3><span>下载观看</span></div>
        <div class="ui-cnt" style="max-height:200px;overflow-y:auto;">

            <div class="down_list">
                <ul>
                    <li th:each="u:${urldizhi1}" ><strong  th:if="${u.xiazaiurl} ne 'null'" ><input type="checkbox" name="down_url_list_0" class="down_url"
                                                       th:value="${u.xiazaiurl}">
                        <strong class="down_part_name" ><a   th:attr="title=${u.xiazaiBeizhu}"
                                                          th:href="${u.xiazaiurl}"
                                                          target="_self"
                                                          style='color:#bc2931;'
                                                          th:text="${u.xiazaiBeizhu}" >第01集</a></strong>&nbsp;&nbsp;<input
                                type="text"
                                class="thunder_url"
                                th:value="${u.xiazaiurl}"
                                style="width: 666px;margin-bottom: 6px"
                                title="鼠标左键单击可全选后手动复制该条迅雷地址进行分享或其它操作"
                                onclick="this.select()"/>
                    </strong>

                    </li>
                </ul>
            </div>

        </div>
    </div>
<!--        下载线路二-->
        <div class="ui-box ui-box-big play-list-box"  th:if="${not #lists.isEmpty(urldizhi2)}">
            <div class="ui-title fn-clear"><h3><strong>下载线路二</strong></h3><span>下载观看</span></div>
            <div class="ui-cnt" style="max-height:200px;overflow-y:auto;">

                <div class="down_list">
                    <ul>
                        <li th:each="u:${urldizhi2}" ><strong th:if="${u.xiazaiurl} ne 'null'" ><input type="checkbox" name="down_url_list_0" class="down_url"
                                                                                                      th:value="${u.xiazaiurl}">
                            <strong class="down_part_name" ><a   th:attr="title=${u.xiazaiBeizhu}"
                                                                 th:href="${u.xiazaiurl}"
                                                                 target="_self"
                                                                 style='color:#bc2931;'
                                                                 th:text="${u.xiazaiBeizhu}" >第01集</a></strong>
                                &nbsp;&nbsp;<input
                                    type="text"
                                    class="thunder_url"
                                    th:value="${u.xiazaiurl}"
                                    style="width: 666px;margin-bottom: 6px"
                                    title="鼠标左键单击可全选后手动复制该条迅雷地址进行分享或其它操作"
                                    onclick="this.select()"/>
                        </strong>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    <!-- // play-list end -->
    <div class="ui-box play-list-box" id="detail-intro">
        <div class="ui-title fn-clear">
            <h3>剧情介绍：</h3>
        </div>
        <div class="ui-cnt">
            <div class="introduction" th:text="'欢迎使用神马影院观看<'+${main.name}+'>,神马影院(www.aoklite.com)为你讲述<'+${main.name}+'>剧情：'+${main.juqing}+'。感谢使用神马影院光看影片，如果觉得神马影院还不错，麻烦推荐给身边好友。神马影院在此致谢。'">

            </div>
        </div>
        <!-- // play-list end -->

        <div class="ui-box latest-tab-box" id="hot-commend">
            <div class="ui-title fn-clear">
                <h3>喜欢看“<strong th:text="${main.name}">绝地反击</strong>”的人也喜欢：</h3>
            </div>

            <ul class="img-list fn-clear">

                <li th:each="u:${rands}">
                    <a th:href="'/info/'+${u.id}+'.html'" class="play-pic">
                        <img th:data-src="${u.img}"  src="http://www.aoklite.com/images/wutu.png"
                             th:attr="alt=${u.name}"/>
                        <span class="ico">&nbsp;</span>
                        <label class="fbg">&nbsp;</label>
                        <label class="txt" th:text="${u.beizhu}">完结 </label>
                    </a>
                    <h5><a th:href="'/info/'+${u.id}+'.html'" th:text="${u.name}">龙门镖局</a></h5>
                </li>

            </ul>
            <!-- // img-list end -->




        </div>
        <div class="layout" id="footer">
            <p>免责声明：神马影院为你提供的电影，电视剧均系抓取于互联网和各大视频网站，本站只提供页面服务，更加不会提供影片存储和上传</p>
            <p>若本站收录的节目无意侵犯了贵司版权，请联系我们，我们会及时处理和回复，谢谢，newclassone￥protonmail.com(@)</p>
            <p>Copyright @ 2012  <a href="/sitemap.xml" target="_blank">网站地图</a></p>
        </div>
        <div style="display: none"><script type="text/javascript" src="https://v1.cnzz.com/z_stat.php?id=1279415871&web_id=1279415871"></script></div>
<!-- 360收录 -->
<script>
(function(){
var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
        <!--51统计-->
        <script type="text/javascript" src="//js.users.51.la/20989537.js"></script>
</body>
</html>
<script>
    var imgs = document.querySelectorAll('img');

    //offsetTop是元素与offsetParent的距离，循环获取直到页面顶部
    function getTop(e) {
        var T = e.offsetTop;
        while(e = e.offsetParent) {
            T += e.offsetTop;
        }
        return T;
    }

    function lazyLoad(imgs) {
        var H = document.documentElement.clientHeight;//获取可视区域高度
        var S = document.documentElement.scrollTop || document.body.scrollTop;
        for (var i = 0; i < imgs.length; i++) {
            if (H + S > getTop(imgs[i])) {
                var  temp=imgs[i].src;
                if(imgs[i].src === 'http://www.aoklite.com/images/wutu.png') {
                    imgs[i].src = imgs[i].getAttribute('data-src');
                }
            }
        }
    }

    window.onload = window.onscroll = function () { //onscroll()在滚动条滚动的时候触发
        lazyLoad(imgs);
    }
</script>
